@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes start-open {
  0% {
    opacity: 0;
    transform: translateY(80vh) scale(0.2, 0.1);
    filter: blur(8px);
  }
  15% {
    opacity: 0.3;
    transform: translateY(65vh) scale(0.3, 0.2);
    filter: blur(7px);
  }
  30% {
    opacity: 0.5;
    transform: translateY(50vh) scale(0.4, 0.3);
    filter: blur(5px);
  }
  45% {
    opacity: 0.7;
    transform: translateY(35vh) scale(0.6, 0.5);
    filter: blur(3px);
  }
  60% {
    opacity: 0.85;
    transform: translateY(20vh) scale(0.75, 0.7);
    filter: blur(2px);
  }
  75% {
    opacity: 0.95;
    transform: translateY(8vh) scale(0.9, 0.88);
    filter: blur(0.5px);
  }
  85% {
    opacity: 1;
    transform: translateY(2vh) scale(0.98, 0.97);
    filter: blur(0);
  }
  92% {
    transform: translateY(8px) scale(0.99, 0.98);
  }
  96% {
    transform: translateY(2px) scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
    filter: blur(0);
  }
}
@keyframes start-close {
  0% {
    opacity: 1;
    transform: translateY(calc(100vh - 192px)) scale(1, 1);
    filter: blur(0);
  }
  4% {
    transform: translateY(calc(100vh - 195px)) scale(0.9, 0.9);
  }
  8% {
    transform: translateY(calc(100vh - 200px)) scale(0.85, 0.8);
  }
  15% {
    transform: translateY(calc(100vh - 220px)) scale(0.7, 0.6);
  }
  25% {
    opacity: 0.95;
    transform: translateY(calc(100vh - 250px)) scale(0.6, 0.45);
    filter: blur(0.5px);
  }
  40% {
    opacity: 0.85;
    transform: translateY(calc(100vh - 300px)) scale(0.5, 0.3);
    filter: blur(2px);
  }
  55% {
    opacity: 0.7;
    transform: translateY(calc(100vh - 360px)) scale(0.4, 0.25);
    filter: blur(3px);
  }
  70% {
    opacity: 0.5;
    transform: translateY(calc(100vh - 420px)) scale(0.3, 0.2);
    filter: blur(5px);
  }
  85% {
    opacity: 0.3;
    transform: translateY(calc(100vh - 480px)) scale(0.2, 0.1);
    filter: blur(7px);
  }
  100% {
    opacity: 0;
    transform: translateY(calc(100vh - 520px)) scale(0.1, 0.05);
    filter: blur(8px);
  }
}


.animate-start-open {
  animation: start-open 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  transform-origin: center bottom;
}

.animate-start-close {
  animation: start-close 0.5s cubic-bezier(0.5, 0, 0.75, 0) forwards;
  transform-origin: center bottom;
}

@keyframes window-open {
  0% {
    opacity: 0;
    transform: translateY(80vh) scale(0.2, 0.1);
    filter: blur(8px);
  }
  15% {
    opacity: 0.3;
    transform: translateY(65vh) scale(0.3, 0.2);
    filter: blur(7px);
  }
  30% {
    opacity: 0.5;
    transform: translateY(50vh) scale(0.4, 0.3);
    filter: blur(5px);
  }
  45% {
    opacity: 0.7;
    transform: translateY(35vh) scale(0.6, 0.5);
    filter: blur(3px);
  }
  60% {
    opacity: 0.85;
    transform: translateY(20vh) scale(0.75, 0.7);
    filter: blur(2px);
  }
  75% {
    opacity: 0.95;
    transform: translateY(8vh) scale(0.9, 0.88);
    filter: blur(0.5px);
  }
  85% {
    opacity: 1;
    transform: translateY(2vh) scale(0.98, 0.97);
    filter: blur(0);
  }
  92% {
    transform: translateY(8px) scale(0.99, 0.98);
  }
  96% {
    transform: translateY(2px) scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
    filter: blur(0);
  }
}
@keyframes window-close {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
    filter: blur(0);
  }
  8% {
    transform: translateY(8px) scale(0.92, 0.92);
  }
  15% {
    transform: translateY(2vh) scale(0.7, 0.6);
  }
  25% {
    opacity: 0.95;
    transform: translateY(8vh) scale(0.6, 0.45);
    filter: blur(0.5px);
  }
  40% {
    opacity: 0.85;
    transform: translateY(20vh) scale(0.5, 0.3);
    filter: blur(2px);
  }
  55% {
    opacity: 0.7;
    transform: translateY(35vh) scale(0.4, 0.25);
    filter: blur(3px);
  }
  70% {
    opacity: 0.5;
    transform: translateY(50vh) scale(0.3, 0.2);
    filter: blur(5px);
  }
  85% {
    opacity: 0.3;
    transform: translateY(65vh) scale(0.2, 0.1);
    filter: blur(7px);
  }
  100% {
    opacity: 0;
    transform: translateY(80vh) scale(0.1, 0.05);
    filter: blur(8px);
  }
}

.animate-window-open {
  animation: window-open 0.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  transform-origin: center bottom;
  will-change: transform, opacity, filter;
}

.animate-window-close {
  animation: window-close 0.4s cubic-bezier(0.5, 0, 0.75, 0) forwards;
  transform-origin: center bottom;
  will-change: transform, opacity, filter;
}



.custom-scroll::-webkit-scrollbar {
  width: 0.7rem;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #30a4d6;
  border-radius: 0.7rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 0.7rem;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: 0.1rem;
  scrollbar-color: #38bdf8 #0f172a;
}